:root {
    --setFont: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    font-family: var(--setFont);
    background-color: #F5F5F5;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}
    
.support-container {
    display: flex;
    flex-direction: column;
}

.section {
    display: flex;
    align-items: center;
}

.description {
    display: block;
    margin-top: 10px;
    flex-grow: 1;
}

.button {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.alert {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #59b9de;
    color: white;
}

.alert-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1; /* take up remaining space */
}

.alert-action {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.closebtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 22px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

.form{
    display: flex;
    flex-direction: row;
    align-items: center;
}
