
.bookmark-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom-color: #00254d;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-radius: 0.8rem;
    padding: 3px;
    padding-bottom: 7px;
    margin-bottom: 7px;
}

.bookmark-title {
    padding-left: 2px;
}

.bookmark-controls {
    display: flex;
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    text-align: left;
}

.scroll-bookmark {
    max-height: 200px;
    overflow-y: auto;
}