body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 300px;
    height: fit-content;
    color: #314d3e;

    position: relative;
}

.toolbar {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: row;
    justify-content: flex-end;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 24px;
    height: 24px;
    margin: 0 1px;
}

.icon svg {
    width: 66%;
    height: 66%;
}

.icon:hover {
    box-shadow: 0 10px 28px rgba(0,0,0,0.25), 0 6px 10px rgba(0,0,0,0.22);
    border-radius: 35%;
}
  
.title {
    font-size: 14px;
    font-weight: bold;
}

.button {
    width: 100%;
    font-size: 12px;
    margin-bottom: 3px;
    padding: 0px 2px;
}

.mainTab {
    position: absolute;
    transform: translate3d(0, 23px, 0);
    -webkit-transition: transform 1.5s ease;
}

.mainTab.animate {
    -webkit-transform: translate3d(-400px, 15px, 0);
    -webkit-transition: transform 1.5s ease;
}

.settingsTab {
    transform: translate3d(400px, 0, 0);
    -webkit-transform: translate3d(400px, 0, 0);
    -webkit-transition: transform 1.5s ease;
}

.settingsTab.animate {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: transform 1.5s ease;
}

