:root {
    --setFont: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    font-family: var(--setFont);
    background-color: #F5F5F5;
}

.tab-container {
    display: flex;
    align-items: stretch;
    justify-content: center;
    position:relative;
    width: 300px;
    max-height: 100px;
    color: #314d3e;
}

.tab-content {
    display: inline-flexbox;
    align-items: center;
    justify-content: center;

    /* height: fit-content; */
    max-height: 100px;
    position: absolute;
    visibility: hidden;
    transition: opacity 0.6s, transform 0.5s;
    transform: translateX(100%);
    left:0;
    right:0;
    bottom:0;
    top:0;
}

.tab-content.active {
    height: auto;
    max-height: 100px;
    width:100%; 
    visibility: visible;
    transform: translateX(0%);
}

.toolbar {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: row;
    justify-content: flex-end;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 24px;
    height: 24px;
    margin: 0 1px;
}

.icon svg {
    width: 66%;
    height: 66%;
}

.icon:hover {
    box-shadow: 0 10px 28px rgba(0,0,0,0.25), 0 6px 10px rgba(0,0,0,0.22);
    border-radius: 35%;
}
  
.title {
    display:block;

    font-family: var(--setFont);
    font-size: 15px;
    font-weight: bold;
}

.btn {
    width: 100%;
    font-size: 12px;
    margin-bottom: 3px;
    padding: 0px 2px;

    font-family: var(--setFont);
}

span {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--setFont);
}

.form.label {
    font-family: var(--setFont);
    font-size: 100px;
}

.form.input {
    font-family: var(--setFont);
    font-size: 100px;
}

.alert {
    margin-top: 5px;
    padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
}

.alert.success {
    background-color: #04AA6D;
}

.alert-close-btn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.alert-close-btn:hover {
    color: black;
}

.bookmark-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom-color: #00254d;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-radius: 0.8rem;
    padding: 3px;
    padding-bottom: 7px;
    margin-bottom: 7px;
}

.bookmark-title {
    padding-left: 2px;
}

.bookmark-controls {
    display: flex;
}
