:root {
    --setFont: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    font-family: var(--setFont);
    background-color: #F5F5F5;
}

.tab-container {
    display: flex;
    align-items: stretch;
    justify-content: center;
    position:relative;
    width: 300px;
    max-height: 360px;
    color: #314d3e;
}

.tab-content {
    display: inline-flexbox;
    align-items: center;
    justify-content: center;

    position: absolute;
    visibility: hidden;
    transition: opacity 0.6s, transform 0.5s;
    transform: translateX(100%);
    left:0;
    right:0;
    bottom:0;
    top:0;
}

.tab-content.active {
    height: auto;
    width:100%; 
    visibility: visible;
    transform: translateX(0%);
}

.toolbar {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: row;
    justify-content: flex-end;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--setFont);
}

.form.label {
    font-family: var(--setFont);
    font-size: 100px;
}

.form.input {
    font-family: var(--setFont);
    font-size: 100px;
}

.alert-wrapper {
    margin-top: 5px;
    height: 75px;
}

.alert-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    padding: 20px;
    opacity: 1;
    color: white;
    background-color: #f44336;
    transition: opacity 0.6s;
}

.alert-container.success {
    background-color: #04AA6D;
}

.alert-message {
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert-close-btn {
    display: flex;
    align-items: center;
    margin-left: 15px;
    color: white;
    font-weight: bold;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.alert-close-btn:hover {
    color: black;
}

span {
    display: flex;
    align-items: center;
    justify-content: center;
}